<?xml version="1.0"?>

<!--
/**
 * @category    ScandiPWA
 * @package     ScandiPWA_CustomerDownloadableGraphQl
 * @copyright   Copyright © 2020 Scandiweb, Ltd (https://scandiweb.com)
 * @copyright   Modifications © Selveq. All rights reserved.
 * @license     OSL-3.0 (Open Software License ("OSL") v. 3.0)
 * See LICENSE for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="ScandiPWA_CustomerDownloadableGraphQl">
        <sequence>
            <module name="Magento_Catalog" />
            <module name="Magento_Downloadable" />
            <module name="Magento_GraphQl" />
            <module name="Magento_DownloadableGraphQl" />
            <module name="Magento_CustomerDownloadableGraphQl" />
            <module name="ScandiPWA_Route717" />
        </sequence>
    </module>
</config>
